<div class="tm-dashboard-settings-password-panel-main">
  <div class="tm-assign-parking-panel-form-box-title">
    <h4>Password</h4>
  </div>
  <div class="tm-dashboard-settings-user-profile-panel tm-dashboard-settings-password-panel">
    <form class="tm-parking-management-system-page-panel-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">New Password</label>
          <input type="password" class="form-control" formControlName="password"
            [class.is-invalid]="submitting && passwordForm.get('password')?.invalid">
          <div class="invalid-feedback" *ngIf="passwordForm.get('password')?.hasError('required')">
            New Password is required.
          </div>
          <div class="invalid-feedback" *ngIf="passwordForm.get('password')?.hasError('minlength')">
            Password must be at least
            {{ passwordForm.get('password')?.errors?.['minlength']?.requiredLength }}
            characters.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirm_password"
            [class.is-invalid]="submitting && (passwordForm.get('confirm_password')?.invalid || passwordForm.errors?.['passwordMismatch'])">
          <div class="invalid-feedback" *ngIf="passwordForm.get('confirm_password')?.hasError('required')">
            Confirm Password is required.
          </div>
          <div class="invalid-feedback" *ngIf="passwordForm.get('confirm_password')?.hasError('minlength')">
            Confirm Password must be at least
            {{ passwordForm.get('confirm_password')?.errors?.['minlength']?.requiredLength }}
            characters.
          </div>
          <div class="invalid-feedback" *ngIf="passwordForm.errors?.['passwordMismatch']">
            Confirm Password Mismatch
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-3 tm-btn">Update</button>
      </div>
    </form>
  </div>
</div>
