<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-2">
    <label for="exampleInputEmail1" class="form-label">OTP</label>
    <input type="text" class="form-control" appNumeric formControlName="otp"
      [class.is-invalid]="submitting && loginForm.get('otp')?.invalid" minlength="6" maxlength="6">
    <div class="invalid-feedback" *ngIf="loginForm.get('otp')?.hasError('required')">OTP is required.
    </div>
    <div class="invalid-feedback" *ngIf="loginForm.get('otp')?.hasError('maxlength')">OTP cannot exceed {{
      loginForm.get('otp')?.errors?.['maxlength']?.requiredLength }} digits.</div>
    <div class="invalid-feedback" *ngIf="loginForm.get('otp')?.hasError('minlength')">OTP must be at least 6 digits long.</div>

  </div>
  <div class="mb-2">
    <div class="tm-password-hide">
      <label for="exampleInputPassword1" class="form-label">Enter Your Password</label>
      <span><a href="javascript:void(0)" (click)="changeInputType()"><i class="bi"
            [ngClass]="isPasswordHidden() ? 'bi-eye' : 'bi-eye-slash'"></i></a>
        {{isPasswordHidden()?'Show':'Hide'}}</span>
    </div>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
      [class.is-invalid]="submitting && loginForm.get('password')?.invalid" #pwd>
    <div class="invalid-feedback" *ngIf="loginForm.get('password')?.hasError('required')"> Password is required.</div>
    <div class="invalid-feedback" *ngIf="loginForm.get('password')?.hasError('minlength')"> Password must be at least {{loginForm.get('password')?.errors?.['minlength']?.requiredLength}}  characters long.</div>


  </div>
  <div class="mb-2">
    <div class="tm-password-hide">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <span><a href="javascript:void(0)" (click)="changeInputTypeConfirm()"><i class="bi"
            [ngClass]="isConfirmPasswordHidden() ? 'bi-eye' : 'bi-eye-slash'"></i></a>
        {{isConfirmPasswordHidden()?'Show':'Hide'}}</span>
    </div>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="confirm_password"
      [class.is-invalid]="submitting && loginForm.get('confirm_password')?.invalid || loginForm.errors?.['passwordMismatch']" #confirm_pwd>
       <div class="invalid-feedback" *ngIf="loginForm.get('confirm_password')?.hasError('required')"> Confirm Password is required.</div>
       <div class="invalid-feedback" *ngIf="loginForm.get('password')?.hasError('minlength')"> Confirm Password must be at least {{loginForm.get('confirm_password')?.errors?.['minlength']?.requiredLength}}  characters long.</div>
       <div class="invalid-feedback" *ngIf="loginForm.errors?.['passwordMismatch']">Confirm Password Doe's not match</div>


  </div>
  <button type="submit" class="btn btn-primary tm-btn mt-3">Submit</button>
  <div class="text-center tm-forget-password">
    <a href="javascript:void(0)" (click)="resendOTP();">Resend OTP</a>
  </div>
</form>
