@if(displayEmail)
{
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-2">
    <label for="exampleInputEmail1" class="form-label">Enter your email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email" [class.is-invalid]="submitting && loginForm.get('email')?.invalid">
    <div class="invalid-feedback" *ngIf="loginForm.get('email')?.hasError('required')">Email is required.
    </div>
    <div class="invalid-feedback" *ngIf="loginForm.get('email')?.hasError('email')">Enter a valid email
      address.</div>
  </div>

  <button type="submit" class="btn btn-primary tm-btn mt-3">Submit</button>
  <div class="text-center tm-forget-password">
    <a href="javascript:void(0)" (click)="displayLoginBlock();">Log In</a>
  </div>
</form>
}
@else {
<app-reset-password (onPwdReset)="pwdReset($event)" [user_id]="user_id" [redirectDashboard]="redirectDashboard"></app-reset-password>
}

