<footer class="tm-footer">
		<div class="tm-footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="tm-footer-1">
							<div class="tm-footer-logo">
								<a [routerLink]="['/']" routerLinkActive="router-link-active" ><img src="assets/img/logo-footer.png" alt="" class="img-fluid"></a>
							</div>
							<div class="tm-footer-1-text">
								<p>Connecting drivers with affordable, secure parking across the U.S. Book in advance, skip the hassle, and park with confidence.</p>
							</div>
							<div class="tm-footer-soical">
								<ul>
									<li><a href="javascript:void(0)"><i class="fa-brands fa-x-twitter"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="tm-footer-2">
							<div class="tm-footer-title">
								<h4><span>Product</span></h4>
							</div>
							<div class="tm-footer-list">
								<ul>
									<li>
										<a href="javascript:void(0)">Hourly/Daily Parking</a>
									</li>
									<li>
										<a href="javascript:void(0)">Monthly Parking</a>
									</li>
									<li>
										<a [routerLink]="'/share'">Share Your Spot</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="tm-footer-3">
							<div class="tm-footer-title">
								<h4><span>Quick Links</span></h4>
							</div>
							<div class="tm-footer-list">
								<ul>
									<li>
										<a [routerLink]="'/find-parking'">Find Parking</a>
									</li>
									<li>
										<a href="javascript:void(0)">EV</a>
									</li>
									<li>
										<a href="javascript:void(0)">About Us</a>
									</li>
									<li>
										<a href="javascript:void(0)">Help</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="tm-footer-4">
							<div class="tm-footer-title">
								<h4><span>Contact Us</span></h4>
							</div>
							<div class="tm-footer-list">
								<ul>
									<li>
										<h5>Email Adress</h5>
										<p>{{site_email}}</p>
									</li>
									<li>
										<h5>Phone Number</h5>
										<p>+1 (800) 123-4557</p>
									</li>
									<li>
										<h5>Address</h5>
										<p>123 Market Street, Toronto, ON, Canada</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tm-footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="tm-footer-bottom-left">
							<p>&copy; 2025 Copyright All right Received</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="tm-footer-bottom-right">
							<p>Design & Development By <a href="https://www.ehtwebaid.com/" target="_blank">EHT WEBAID</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
