/* You can add global styles to this file, and also import other style files */
@import '@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';


.nav-link:focus, .nav-link:hover {
    color: #0a58ca !important;
}
.activenav {
    color: #0a58ca !important;
}
.logout_dtn{
  background-color: #FF0004 !important;
  border-color: #FF0004 !important;
}
.form-control.is-invalid{
  border-color:#FF0004 !important;
}

/* Make timepicker inputs take full available space */
ngb-timepicker .ngb-tp-input-container {
  flex: 1 1 auto;
  width: 100%;
}

ngb-timepicker input[type=number] {
  width: 100% !important;
  box-sizing: border-box;
}
.ng-select.ng-select-single .ng-select-container
 {
    height: 50px !important;
}

.pac-container {
  z-index: 2000 !important; /* Higher than Bootstrap modal */
}
.flex-container {
  display: flex;
}
.flex-item {
  flex: 0 0 50%; /* fixed 50% width */
}
.modal{
  z-index: 999999 !important;
}
.accordion-button:empty {
  display: none !important;
}
.stripe-box {
  background: #f5f5f5;       /* light grey background */
  border: 1px solid #ced4da; /* Bootstrap form-control border */
  border-radius: 8px;
  padding: 10px 12px;
  height: 50px;              /* like normal input */
  display: flex;
  align-items: center;
}

.stripe-box:focus-within {
  border-color: #86b7fe;     /* blue border like Bootstrap */
  box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
}


.stripe-box ngx-stripe-card-number,
.stripe-box ngx-stripe-card-expiry,
.stripe-box ngx-stripe-card-cvc {
  flex: 1;                   /* let iframe expand */
  display: block;
  min-height: 100%;
}


/* Brand and CVC icons */
.card-icon {
  height: 24px;
  margin-left: 8px;
  opacity: 0.8;
}
.backdrop {
  pointer-events: none;
}
.owl-dt-container, .owl-dt-dialog-container {
  z-index: 2000 !important;
}
.reload_btn{
  background-color:#FF0004  !important;
  border:2px solid #FF0004 !important;
}
button.btn-loading {
    pointer-events: none;
    opacity: 0.7;
}

button.btn-loading .indicator-label {
    display: none !important;
}

button.btn-loading .indicator-progress {
    display: block !important;
}
button.btn .indicator-progress {
    display: none;
    pointer-events: none;
}

button.btn .indicator-label {
    pointer-events: none;
}


