<section class="tm-parking-management-system-page tm-custom-padding" style="background-image: url(assets/img/share-your-parking-spotBg.jpg);">
		<span class="tm-parking-management-system-overlay"></span>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="tm-parking-management-system-page-panel">
						<div class="tm-parking-management-system-page-panel-title text-center">
							<h2>Share Your Parking Space</h2>
						</div>
						<form class="tm-parking-management-system-page-panel-form">
							<div class="mb-3">
							  <label class="form-label">Enter your name</label>
							  <input type="text" class="form-control">
							</div>
							<div class="mb-3 row">
							  <div class="col-md-6">
							    <label class="form-label">Email Address</label>
							    <input type="email" class="form-control">
							  </div>
							  <div class="col-md-6">
							    <label class="form-label">Phone Number</label>
							    <input type="tel" class="form-control">
							  </div>
							</div>
							<div class="mb-3">
							  <label class="form-label">Choose your State</label>
							  <select class="form-select">
							    <option selected>California</option>
							    <option>New York</option>
							    <option>Texas</option>
							    <option>Florida</option>
							  </select>
							</div>
							<div class="mb-3">
							  <label class="form-label">Your Address</label>
							  <input type="text" class="form-control">
							</div>
							<div class="mb-3">
							  <label class="form-label">Number of Parking Slots</label>
							  <input type="number" class="form-control">
							</div>
							<div class="mb-3">
							  <label class="form-label">Upload Your ID Proof</label>
							  <select class="form-select">
							    <option>License</option>
							    <option>Passport</option>
							    <option>State ID</option>
							  </select>
							</div>
							<div class="mb-3">
							  <label class="form-label">EV Charge Available</label>
							  <select class="form-select">
							    <option>Yes</option>
							    <option>No</option>
							  </select>
							</div>
							<div class="mb-3">
							  <label class="form-label">EV Charge Slots Available</label>
							  <input type="number" class="form-control">
							</div>
							<div class="mb-3">
							  <label class="form-label">Parking Type</label>
							  <select class="form-select">
							  	<option selected>Chose your parking type</option>
							    <option>Covered Lot</option>
							    <option>Open Lot</option>
							  </select>
							</div>
							<div class="mb-3">
							  <label class="form-label" style="display: block;">Access Hours</label>
							  <div class="form-check form-check-inline">
							  	<label class="form-check-label" for="exampleRadios1">
								    24/7
								  </label>
								  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
								</div>
								<div class="form-check form-check-inline">
									<label class="form-check-label" for="exampleRadios2">
								    Monday-Friday
								  </label>
								  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
								</div>
								<div class="form-check form-check-inline">
									<label class="form-check-label" for="exampleRadios3">
								    Saturday & Sunday
								  </label>
									<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
								</div>
							</div>
							<div class="mb-3">
							  <label class="form-label" style="display: block;">CCTV Features Available</label>
							  <div class="form-check form-check-inline">
							  	<label class="form-check-label" for="example4">
								    Yes
								  </label>
								  <input class="form-check-input" type="radio" id="example4" value="" aria-label="..." checked>
								</div>
								<div class="form-check form-check-inline">
									<label class="form-check-label" for="example5">
								    No
								  </label>
								  <input class="form-check-input" type="radio" id="example5" value="" aria-label="...">
								</div>
							</div>
							<div class="mb-3">
								<div class="tm-browse-file-box">
									<label class="form-label mb-2"><b>User Profile Picture</b></label>
									<img src="assets/img/browse-file-icon.svg" alt="" class="img-fluid">
									<div class="custom-file-drop">
										<p>Choose a file or drag & drop it here</p>
										<small>JPEG, PNG, PDF format, up to 2 MB</small>
										<input type="file" class="form-control mt-2">
									</div>
								</div>
							</div>
							<div class="mb-3">
								<div class="tm-browse-file-box">
									<label class="form-label mb-2"><b>Parking Spot Photo</b></label>
									<img src="assets/img/browse-file-icon.svg" alt="" class="img-fluid">
									<div class="custom-file-drop">
										<p>Choose a file or drag & drop it here</p>
										<small>JPEG, PNG, PDF format, up to 2 MB</small>
										<input type="file" class="form-control mt-2">
									</div>
								</div>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-submit tm-btn mt-5">
								  Register As a Parking Space Owner
								</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
